
    <div class="row">
        <div class="col-10 mx-auto mt-5 p-3">
            <div class="alert alert-success">
                <strong>Hooray!</strong> New Person has been registered.
            </div>

            <div>
                <a href="@Url.Action("Create")" class="btn btn-success">Create Again</a>
                <a href="@Url.Action("Index", "Projects")" class="btn btn-dark">Return to Projects</a>
            </div>
        </div>
    </div>
   

