@model PMWebApp.Core.Data.ProjectDetailData
<div class="row">
    <div class="col-12 mb-5 border-bottom p-3">
        <span class="display-4 text-info">Project Assignment</span>
        <a href="@Url.Action("Index", "Projects")" class="btn btn-dark btn-lg mr-3 float-right font-weight-bold shadow"><i class="fa fa-arrow-left"></i> Go Back</a>
    </div>
</div>

<h2>@Model.ProjectName</h2>

<div id="commandResult"></div>
<div class="container" id="projectAssignment"></div>


@section scripts {

    <script type="text/javascript">

        $( document ).ready(function() {
            reloadMemberList();
        });

        function AddMember() {
            event.preventDefault();
            addMemberHttpRequest();
        }
     

        function RemoveMember(personId) {
            event.preventDefault();
            removeMemberHttpRequest(personId);
        }

        function addMemberHttpRequest() {
              $.ajax({
                 type: "POST",
                 data: {
                    "projectId": $("#projectId").val(),
                    "personId": $("#personId").val(),
                  },
                 url: $("#frmAddMemberToProject").attr("action"),
                 success: function (data) {
                     $("#commandResult").html(data);
                     reloadMemberList();
                 }
              });
        }

        function removeMemberHttpRequest(personId) {
             $.ajax({
                type: "POST",
                data: {
                    "projectId": $("#projectId").val(),
                    "personId": $("#personToRemove").val(),
                },
                url: $("#frmMemberRemove_" + personId).attr("action"),
                success: function (data) {
                    $("#commandResult").html(data);
                    reloadMemberList();
                }
            });
        }

        function reloadMemberList() {
            $.ajax({
                type: "GET",
                url: "/Projects/GetProjectAssignmentDetails/@Model.ProjectCode",
                success: function (data) {
                    $("#projectAssignment").html(data);
                }
            });
        }
    </script>

}