
<div class="row">
    <div class="col-10 mx-auto mt-5 p-3">
        <div class="alert alert-success">
            <strong>Hooray!</strong> New Project has been created.
        </div>

        <div>
            <a href="@Url.Action("Create")" class="btn btn-success"><i class="fa fa-plus"></i> Create Project</a>
            <a href="@Url.Action("Index", "Projects")" class="btn btn-dark"><i class="fa fa-arrow-left"></i> Return to Projects</a>
        </div>
    </div>
</div>



