@model PMWebApp.Core.Data.CommandResult


   @if(Model.Errors.Any())
   {
       foreach(string error in Model.Errors)
       {
           <p class="alert alert-danger"><strong>@error</strong></p>
       }
   } else
   {
       <p class="alert alert-success"><strong>Member has been added.</strong></p>
   }
