@model PMWebApp.Core.Data.CommandResult


@if (Model.Errors.Any())
{
    foreach (string error in Model.Errors)
    {
        <p class="alert alert-danger"><strong>@error</strong></p>
    }
}

@if (Model.SuccessResponse.Any())
{
    foreach (string success in Model.SuccessResponse)
    {
        <p class="alert alert-info"><strong>@success</strong></p>
    }
}
